@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400 700;
  src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}

@theme {
  --color-theme-white: hsl(0, 0%, 100%);
  --color-theme-light-gray: hsl(212, 45%, 89%);
  --color-theme-grayish-blue: hsl(220, 15%, 55%);
  --color-theme-dark-blue: hsl(218, 44%, 22%);

  --font-outfit: Outfit, sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
