@import "tailwindcss";

@theme {
  --color-theme-white: hsl(0, 0%, 100%);
  --color-theme-slate-300: hsl(212, 45%, 89%);
  --color-theme-slate-500: hsl(220, 15%, 55%);
  --color-theme-slate-900: hsl(218, 44%, 22%);

  --spacing-theme-200: 16px;
  --spacing-theme-300: 24px;
  --spacing-theme-500: 40px;

  --text-theme-preset1: 1.375rem;
  --text-theme-preset2: 0.9375rem;

  --leading-theme-preset1: 1.2;
  --leading-theme-preset2: 1.4;

  --tracking-theme-preset1: 0em;
  --tracking-theme-preset2: 0.0125em;

  --radius-theme-lg: 20px;
  --radius-theme-sm: 10px;

  --font-outfit: Outfit, sans-serif;
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400 700;
  src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
