---
import MainLayout from "@/layouts/MainLayout.astro";
import Card from "@/components/Card.astro";
---

<MainLayout title="Frontend Mentor | QR code component">
  <div class="mx-auto flex h-screen max-w-[360px] items-center">
    <Card
      title="Improve your front-end skills by building projects"
      content="Scan the QR code to visit Frontend Mentor and take your coding skills to the next level"
      image="/src/assets/image-qr-code.png"
      alt="QR Code"
    />
  </div>
</MainLayout>
